<div data-toggle="modal" class="card" id="card<%= card.escape("id") %>" data-target="#my-modal-<%= card.escape("id") %>">

  <a href="#" class="hidden delete-card" id="delete-card<%= card.escape("id") %>" data-toggle="popover" data-placement="right"
    data-content="<a href='' id='delete-card' data-card='<%= card.get("id") %>'>Remove Card</a>">
    <span class="glyphicon glyphicon-flash" style="top: 0px;"></span>
  </a>

  <%= card.escape("title") %>

</div>

<div class="modal fade" id="my-modal-<%= card.escape("id") %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= card.escape("title") %></h4>
      </div>
      <div class="modal-body">
        <%= card.escape("description") %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>